@import "tailwindcss";



body {

 
  font-family: Arial, Helvetica, sans-serif;
}

.bodys{
background: lightblue;
}

a{
background-color: rgb(143, 232, 143);
color: black;
padding: 15px 25px;
border-radius: 5%;
cursor: pointer;
}

a:hover{
background-color: rgb(4, 103, 4);
color: white;
}


button{
 transform: translateY(-3px) scale(1.05); 

 
  padding: 1rem 1rem; 
 

transition: all 0.3s ease-in-out;
cursor: pointer;
}

button:hover{

transition: all 0.3s ease-in-out;

 transform: translateY(-8px) scale(1.05); 
}
